parameters:


application:
	errorPresenter: Error
	mapping:
		*: Maisner\SmartHome\*Module\Presenters\*Presenter


session:
	expiration: 14 days

dbal:
    connection:
        host: mysql
        user: root
        password: pass
        dbname: smart-home
        types:
        	sensor_type_enum:
        		class: Maisner\SmartHome\Model\Utils\Doctrine\Type\SensorTypeEnumType
        		commented: false

orm.annotations:
    paths:
        - %appDir%/Model

services:
	router: Maisner\SmartHome\Router\RouterFactory::createRouter

	- Maisner\SmartHome\Model\Sensor\SensorReader
	- Maisner\SmartHome\Model\Sensor\ORM\SensorRepository
	- Maisner\SmartHome\Model\Sensor\ORM\SensorDataRepository

extensions:
    dbal: Nettrine\DBAL\DI\DbalExtension
    orm: Nettrine\ORM\DI\OrmExtension
    orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    orm.console: Nettrine\ORM\DI\OrmConsoleExtension
